/* Section-A */

.section-a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.section-a .elementary__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section-a .elementary-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1360px;
}

.elementary-header h1 {
    font-size: 200px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 5% auto 0 auto;
    text-align: center;
    line-height: 0.9;
}

.elementary-header p {
    margin-top: 2%;
    font-size: 20px;
    color: black;
    text-align: left;
    width: 1110px;
}

.elementary-header a {
    color: white;
    font-size: 25px;
    background-color: rgb(138, 171, 253);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.section-a h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    margin-top: 70px;
}

.slider-size {
    width: 1026px;
    margin: 4% auto;
}
  

/* Section */

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.section .elementary__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section .elementary-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1360px;
    padding: 17.5% 0;
}

.section .elementary-header h1 {
    font-size: 59px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin: 5% auto 0 auto;
    text-align: center;
    line-height: 0.9;
    margin-top: 100px;
}

.section .elementary-header h1::after {
    content: "";
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-top: 0px;
}

.section .elementary-header p {
    margin-top: 2%;
    font-size: 20px;
    color: black;
    text-align: left;
    width: 1110px;
}

.section .section-a h2 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    margin-top: 70px;
}

.section img {
    position: absolute;
    z-index: -9;
    width: 600px;
    padding: 20% 0;
}